.card-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  min-height: 5rem;
  background: #ffe4c8;
  margin: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  border-left: solid 10px #0f4c81;
  cursor: pointer;
}
.cli-card-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  min-height: 6rem;
  background: #ffe4c8;
  margin: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  border-left: solid 10px #0f4c81;
  cursor: pointer;
}
.title-card {
  font-size: 17px;
  color: #0f4c81;
}
.client-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cam-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  right: 3%;
  top: 10%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #0f4c81;
}
.cam-icon {
  font-size: 20px;
  color: white;
}
.client-container a {
  font-size: 14px;
  color: #5684ae;
}

.client-icon {
  background-color: aliceblue;
  border-radius: 100%;
  cursor: pointer;
  color: #0f4c81;
  width: 1.4rem;
  height: 1.4rem;
}

.date-text {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
