.tag-container {
  display: flex;
  position: absolute;
  margin-top: 2px;
  top: 35%;
  width: 100%;
  border-radius: 3px;
  border-left: solid 5px;
}

.tag-container a {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  margin-left: 3px;
  width: 100%;
  height: 20px;
}

@media (max-width: 1140px) {
  .tag-container a {
    font-size: 12px;
    height: 14px;
  }
}
